form {
  padding-left: 3rem;
  .form__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  input {
    margin: 1rem 0;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    width: 80%;
  }
}
