.nav__mobile--active {
  width: 100%;
  padding: 1rem 2rem;
  transform: translateY(-100%);
  z-index: -1;
  transition: 0.5s;
  box-shadow: 0 1px 10px rgb(189, 184, 184);

  @media screen and(min-width:768px) {
    box-shadow: none;
    display: none;
  }
  ul {
    li {
      margin-top: 1rem;
    }
  }
}
